/* Remove Arrows from Number Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* END Remove Arrows from Number Input */

.container-calc {
    width: 900px;
}
.calculator {
    display: grid;
    grid-template-columns: 3.25fr .5fr 3.25fr 2fr 4fr;
    grid-template-rows: 40px 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: stretch;
    justify-content: center;
    /* border: 2px solid grey; */
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 98, 90, 0.4),
              10px 10px rgba(0, 98, 90, 0.3),
              15px 15px rgba(0, 98, 90, 0.2),
              20px 20px rgba(0, 98, 90, 0.1),
              25px 25px rgba(0, 98, 90, 0.05);
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    margin-bottom: 40px;
}




div.calculator:last-of-type {
    margin-bottom: 0;
}

/* .calculator + .calculator {
    margin-bottom: 10px;
} */

.pad-10 {
    padding: 10px;
}

.pad-input {
    padding: 5px 10px;
}

.grid-div1 { 
    grid-area: 1 / 1 / 2 / 7;
    border-bottom: 2px solid grey;
}
.grid-div2 { grid-area: 2 / 1 / 3 / 2; }
.grid-div3 { grid-area: 2 / 2 / 3 / 3; }
.grid-div4 { grid-area: 2 / 3 / 3 / 4; }
.grid-div5 { grid-area: 2 / 4 / 3 / 5; }
.grid-div6 {
    grid-area: 2 / 5 / 3 / 6;
    border-left: 2px solid grey;
}

.flex { display: flex; }
.flex-col {
    flex-direction: column;
}
.flex-center-center {justify-content: center; align-items: center;}
.flex-left-center {justify-content: flex-start; align-items: center;}
.flex-h-center {justify-content: center;}
.flex-h-left {justify-content: flex-start;}
.stretch {justify-content: stretch;}
.flex-v-center {align-items: center;}
.center {text-align: center;}

input[id^="input-"] {
    width: 100%;
}

.title {
    padding: 50px 0;
}

input {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.symbol {
    font-family:'Courier New', Courier, monospace;
    height: auto;
    width: auto;
    font-size: 32px;
    line-height: 2em;
    font-weight: bold;
}

.calculation {
    font-family:'Courier New', Courier, monospace;
    margin-left: 20px;
    font-weight: 900;
}

button[id^='button-'] {
    /* padding: 5px 20px; */
    height: 35px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.5s;
    animation-timing-function: ease-in-out;
}

button[id^='button-']:hover {
    height: 45px;
    width: 110px;
    background-color: lightblue;
    transition: all 0.5s;
    animation-timing-function: ease-in-out;
}